@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Nabla&display=swap');

:root {
    --black: #18171a;
    --blue: #101D42;
    --light-blue: #4D7C8A;
    --yellow: #FFF07C;
    --ivory: #F5F9E9;

}

.Navbar {
    background: linear-gradient(#000000,#00000000) ;
    position: absolute;
    width:100%;
}

.logoNavbar {
    transform: scale(1.1);
}


.nav-txt {
    color: var(--ivory);
    font-family: "Michroma", sans-serif;

}

.navbar-txt{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-txt:hover {
    color: var(--yellow);
    transform: scale(1.10);
    transition: ease-in 0.9s;
    cursor: pointer

}

.Navbar button{
    color: var(--yellow) !important;
}


#nav {
    display: flex;
    justify-content: flex-end;
    
}

.nav-login{
    display: flex;
    justify-content: flex-end;
}

.responsive-navbar-nav{
    display: flex;
    justify-content: flex-end;

}

/* #responsive-navbar{
    display: flex;
    justify-content: flex-end;
} */

body {

    background-color: var(--blue);
    color: var(--ivory);
}

.body-homepage{
    /* background-image: url("src/img/home1.jpg"); */
    /* background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 70vh;
    width:100vw;
}

.div-main-title{
    background-image: url("src/img/home1.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top:14vw;
    padding-bottom: 14vw;
    font-family: "Nabla", system-ui;

    letter-spacing: 0.5vw;
    align-content: center;
    align-items: center;

}



.div-main-title h1 {
    font-size: 8vw;
    /* font-family: "Michroma", sans-serif;
    color: var(--yellow);
    font-weight: bolder ; */
    

}   

.div-carousel{
    display: flex;
    justify-content: center;
    margin: 5vw;
}

.img-carousel{

    object-fit: cover;
    width:40vw;
    height:40vw;

  
}

.bloc-carousel{

    align-content: center;
    display: flex;
    justify-content: center;
}

