@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css?family=Overpass');

:root {
    --black: #18171a;
    --blue: #101D42;
    --light-blue: #4D7C8A;
    --yellow: #FFF07C;
    --ivory: #F5F9E9;

}

/*---------------- NAVBAR --------------------------------------*/

.Navbar {
    background: linear-gradient(#000000, #00000000);
    position: absolute;
    width: 100%;
}

.logoNavbar {
    transform: scale(1.1);
}


.nav-txt {
    color: var(--ivory);
    font-family: "Michroma", sans-serif;
    text-decoration: none;


}

.nav-dropdown{
    color: var(--ivory) !important;
    font-family: "Michroma", sans-serif;
    text-decoration: none;
}

.dropdown-toggle{
    color: var(--ivory) !important;
    font-family: "Michroma", sans-serif;
    text-decoration: none;
}
.navbar-txt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.nav-txt:hover {
    color: var(--yellow);
    transform: scale(1.10);
    transition: ease-in 0.9s;
    cursor: pointer
}

.Navbar button {
    color: var(--yellow) !important;
    border: solid 1px var(--light-blue)
}

.navbar-toggler-icon {
    background-image: none;
}


#nav {
    display: flex;
    justify-content: flex-end;

}

.nav-login {
    display: flex;
    justify-content: flex-end;
}

.responsive-navbar-nav {
    display: flex;
    justify-content: flex-end;

}

/* #responsive-navbar{
    display: flex;
    justify-content: flex-end;
} */

.nav-all-txt {
    display: flex;
    gap: 2vw;
    align-items: center;

}

/* -----------BODY----------- */

body {

    background-color: var(--blue);
    color: var(--ivory);
}

.body-homepage {
    /* background-image: url("src/img/home1.jpg"); */
    /* background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 70vh;
    width: 100vw;
}

.div-main-title {
    background-image: url("src/img/home1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 14vw;
    padding-bottom: 14vw;
    font-family: "Nabla", system-ui;
    height: 80vh;
    letter-spacing: 0.5vw;
    align-content: center;
    align-items: center;

}



.div-main-title h1 {
    font-size: 8vw;
    /* font-family: "Michroma", sans-serif;
    color: var(--yellow);
    font-weight: bolder ; */


}

.div-carousel {
    display: flex;
    justify-content: center;
    margin: 5vw;
    border: #4D7C8A solid 5px;
}

.img-carousel {

    object-fit: cover;
    width: 40vw;
    height: 40vw;


}

.bloc-carousel {

    align-content: center;
    display: flex;
    justify-content: center;
}


/* -------FORMULAIRE------------------------------- */


.form{
display: flex;
width: 30vw;

}

.formulaire {
    padding-top: 10vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.formulaire h1 {
    font-family: "Michroma", sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
    border-bottom: solid var(--light-blue);
    width: 50vw;
}

.form-btn {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid var(--yellow);
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.form-btn:hover {
    background: var(--light-blue);
    box-shadow: 0 0 30px 5px #f5f9e96e;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.form-btn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.form-btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.form-btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.form-btn:hover,
.form-btn:focus {
    background-color: var(--yellow);
    color: var(--blue);
}


.div-btn-create {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


.group {
    position: relative;
}

.input {
    font-size: 1.5vw;
    padding: 8px 10px 10px 5px;
    display: block;
    width: 40vw;
    border: none;
    border-bottom: 3px solid var(--light-blue);
    background: transparent;
    color: #F5F9E9;
    gap: 4vw;
    margin-top: 4vw;
    ;
}

.input:focus {
    outline: none;
}

label {
    color: var(--light-blue);
    font-size: 1vw;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;

}


.input:focus~label,
.input:valid~label {
    top: -30px;
    font-size: 2vw;
    color: #FFF07C;
    font-family: "Michroma", sans-serif;

}

.bar {
    position: relative;
    display: block;
    width: 40vw;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;

    position: absolute;
    background: #FFF07C;
    transition: 0.9s ease all;
    -moz-transition: 0.9s ease all;
    -webkit-transition: 0.9s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 40vw;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.5s ease;
}

@keyframes inputHighlighter {
    from {
        background: #FFF07C;
    }

    to {
        width: 0;
        background: transparent;
    }
}


/* -----------TITRE FLOU-------------------------------- */

.left-side {
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(5px);
    background: #101D42;
    overflow: hidden;
    z-index: 3;
}

.right-side {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #101D42;
    z-index: 3;
    overflow: hidden;
}

.hover {
    position: absolute;
    float: none;
    height: 75px;
    width: 75px;
    cursor: none;
    overflow: hidden;
}

.bit-top {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-top-left {
    position: absolute;
    left: 0%;
    top: 5px;
    height: 5px;
    width: 5px;
    background: #fff;
}


.bit-top-right {
    position: absolute;
    right: 0%;
    top: 0%;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-top-right-2 {
    position: absolute;
    right: 0%;
    top: 0px;
    height: 10px;
    width: 5px;
    background: #fff;
}

.bit-bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 10px;
    width: 5px;
    background: #fff;
}

.bit-bottom-left-2 {
    position: absolute;
    bottom: 0%;
    left: 0px;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0px;
    height: 5px;
    width: 10px;
    background: #fff;
}

.bit-bottom-right-2 {
    position: absolute;
    bottom: 0%;
    right: 0px;
    height: 10px;
    width: 5px;
    background: #fff;
}

.blur {
    position: absolute;
    color: #fefefe;
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
    letter-spacing: 20px;
    margin: auto;
    width: 100%;
    filter: blur(5px);
    cursor: none;
    overflow: hidden;
    text-align: center;
    z-index: 3;
}

.focus {
    position: absolute;
    color: #fefefe;
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
    letter-spacing: 20px;
    margin: auto;
    width: 100%;
    filter: blur(0px);
    cursor: none;
    overflow: hidden;
    text-align: center;
    z-index: 2;
}

.container-titre {
    position: absolute;
    height: 18.5vh;
    padding-top: 10vh;
    width: 100%;
    overflow: hidden;
}

/* -------CARD-------------------------------------- */



